# this file only contains machine level ignores. this is for the purpose of
# making project level ignore files project specific.

# anyone using OSX just ignore this
.DS_Store

# Ignoring temporary dot directories
/.CFUserTextEncoding
/.NERDTreeBookmarks
/.Trash
/.bash_history
/.bash_sessions
/.bundle
/.bundler
/.cache
/.config/gtk-2.0
/.cups
/.docker
/.gem
/.lesshst
/.local
/.netrc
/.rubies
/.ssh
/.tldrc
/.vagrant.d
/.viminfo
/.sdkman
/.config/gcloud
/.vscode
/.android
/.cocoapods
/.dart
/.dartServer
/.flutter
/.gcp
/.kube
/.gradle
/.m2
/.fastlane/
/.gsutil/
/.subversion/
/.terraform.d/
/.tfw/
/.tg/

# Ignoring application created directories
/Dropbox
/VirtualBox VMs

# Ignoring standard OSX directories
/Applications
/Desktop
/Documents
/Downloads
/Library
/Movies
/Music
/Pictures
/Public

# This is created my the bootstrap script
/.config/.softwareupdate_indicator
/.config/birthdate

# Where rubys are installed via ruby-install
/.rubies

Creative Cloud Files/
Virtual Machines.localized/
.itmstransporter/
/go
/development/**

.config/configstore/
.config/gatsby/
.config/yarn/
.node-gyp/
.node_repl_history
.npm/
.nvm/
.oh-my-zsh/
.yarnrc
.zcompdump
.zcompdump-eratosthenes-5.3
.zcompdump-eratosthenes-5.7.1
.zsh_history
.zshrc.pre-oh-my-zsh

.gitbook/
.konan/
.pylint.d/
.tvm/
.v8flags.7.4.288.21-node.16.59ee68c93598876cbe7e6462cf676e62.json
